---
import "@fontsource/amita";
import "@fontsource/nunito";

import { t } from "i18next";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title?: string;
  description?: string | null;
}

const { title, description } = Astro.props;
const baseTitle = t("siteTitle");
const combinedTitle = title ? `${title} | ${baseTitle}` : baseTitle;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{combinedTitle}</title>
    <meta name="description" content={description ?? t("siteDescription")} />
    <meta name="color-scheme" content="dark" />
    <HeadHrefLangs />
  </head>
  <body class="font-nunito">
    <div
      class="bg-slate-900 min-h-screen text-slate-300 flex flex-col items-center gap-4"
    >
      <Header />
      <main class="container flex flex-col grow">
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      import "iconify-icon";
    </script>
    <style is:global>
      :root {
        color-scheme: dark;
      }

      select {
        -webkit-appearance: none;
      }

      pre.astro-code {
        @apply rounded-md p-3;
      }

      iconify-icon[icon="logos:recoil-icon"] {
        @apply bg-slate-50 rounded-full;
      }
    </style>
  </body>
</html>
